<app-loader [small]="true" [hidden]="!loading"></app-loader>

<div class="modalWrapper" *ngIf="!loading">

	<div class="modal-header">
		<h4 class="modal-title">Szczegóły zlecenia</h4>
		<button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">

		<ngb-accordion activeIds="details">
			<ngb-panel id="details" title="Szczegóły zlecenia">
				<ng-template ngbPanelContent>

					<ul class="simple-list">
						<li>Numer kontenera: <span class="float-right">{{ order.container_Id | empty: '-'  }}</span></li>
						<li>ATB: <span class="float-right">{{ order.atb | empty: '-'  }}</span></li>
						<li>Terminal odbioru: <span class="float-right">{{ order.terminal | empty: '-'  }}</span></li>
						<li>Terminal zwrotu: <span class="float-right">{{ order.returnTerminal | empty: '-'  }}</span></li>
						<li>Utworzone: <span class="float-right">{{ order.creation_Date | empty: '-'  }}</span></li>
						<li>ETA: <span class="float-right">{{ orderDetails.eta | empty: '-'  }}</span></li>
						<li>Numer zlecenia: <span class="float-right">{{ orderDetails.order_Number | empty: '-'  }}</span></li>
						<li>PIN odbioru: <span class="float-right">{{ orderDetails.pickup_PIN | empty: '-' }}</span></li>
						<li>Liczba pozycji: <span class="float-right">{{ orderDetails.num_of_Positions | empty: '-' }}</span></li>
					</ul>

				</ng-template>
			</ngb-panel>
			<ngb-panel id="orderer" title="Zleceniodawca">
				<ng-template ngbPanelContent>

					<ul class="simple-list">
						<li>Nazwa: <span class="float-right">{{ orderDetails.orderer.name }}</span></li>
						<li>Adres: <span class="float-right">{{ orderDetails.orderer.address | empty: '-'  }}</span></li>
						<li>E-mail: <span class="float-right">{{ orderDetails.orderer.email | empty: '-'  }}</span></li>
						<li>Kod kraju: <span class="float-right">{{ orderDetails.orderer.prefixVat_Id | empty: '-'  }}</span></li>
						<li>Numer VAT ID: <span class="float-right">{{ orderDetails.orderer.vaT_Id | empty: '-'  }}</span></li>
					</ul>

				</ng-template>
			</ngb-panel>
			<ngb-panel id="positions" title="Zamówione pozycje">
				<ng-template ngbPanelContent>

					<table class="table table-sm">
						<thead>
							<tr>
								<th scope="col">Nazwa</th>
								<th scope="col">Waga [kg]</th>
								<th scope="col">Liczba [szt.]</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let position of orderDetails.listOfOrderPositions">
								<td>{{ position.name }}</td>
								<td>{{ position.weight_Gross | empty: '-' }}</td>
								<td>{{ position.amount | empty: '-' }}</td>
							</tr>
						</tbody>
					</table>

				</ng-template>
			</ngb-panel>
		</ngb-accordion>

	</div>
</div>
