<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
	<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Warehouse</a>
	<ul class="navbar-nav px-3">
		<li class="nav-item text-nowrap">
			<a class="nav-link" (click)="signOut()">Sign out</a>
		</li>
	</ul>
</nav>

<div class="container-fluid">
	<div class="row">
		<nav class="col-md-2 d-none d-md-block bg-light sidebar">
			<div class="sidebar-sticky">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link active" routerLink="orders" routerLinkActive="active-link">
							Orders
						</a>
					</li>

					<li class="nav-item" *ngIf="user.isHeadAdmin()">
						<a class="nav-link active" routerLink="users" routerLinkActive="active-link">
							Users
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<router-outlet></router-outlet>
		</main>

	</div>
</div>


