<app-loader [small]="true" [hidden]="!loading"></app-loader>

<div class="modalWrapper" *ngIf="!loading">

	<div class="modal-header">
		<h4 class="modal-title">Szczegóły wydania</h4>
		<button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">

		<ngb-tabset justify="justified">

			<ngb-tab title="Szczegóły">
				<ng-template ngbTabContent>

					<div class="p-3">
						<ul class="simple-list">
							<li>ID: <span class="float-right">{{ dispatchDetails.id }}</span></li>
							<li>Numer wydania: <span class="float-right">{{ dispatchDetails.dispatch_Number | empty: '-'  }}</span></li>
							<li>ID pojazdu: <span class="float-right">{{ dispatchDetails.car_Id | empty: '-'  }}</span></li>
							<li>Duty Doc ID: <span class="float-right">{{ dispatchDetails.duty_Doc_Id | empty: '-'  }}</span></li>
							<li>Data wydania: <span class="float-right">{{ dispatchDetails.creation_Date | empty: '-'  }}</span></li>
						</ul>
					</div>

				</ng-template>
			</ngb-tab>

			<ngb-tab title="Przewoźnik">
				<ng-template ngbTabContent>

					<div class="p-3">
						<ul class="simple-list mt-2">
							<li>Nazwa przewoźnika: <span class="float-right">{{ dispatchDetails.carrier.carrier_Name }}</span></li>
							<li>Adres przewoźnika: <span class="float-right">{{ dispatchDetails.carrier.carrier_Address | empty: '-'  }}</span></li>
							<li>E-mail przewoźnika: <span class="float-right">{{ dispatchDetails.carrier.carrier_Email | empty: '-'  }}</span></li>
							<li>Telefon przewoźnika: <span class="float-right">{{ dispatchDetails.carrier.carrier_PhoneNumber | empty: '-'  }}</span></li>
							<li>VAT ID przewoźnika: <span class="float-right">{{ dispatchDetails.carrier.carrier_VAT_Id | empty: '-'  }}</span></li>
						</ul>
					</div>

				</ng-template>
			</ngb-tab>

			<ngb-tab title="Odbiorca">
				<ng-template ngbTabContent>

					<div class="p-3">
						<ul class="simple-list mt-2">
							<li>Nazwa odbiorcy: <span class="float-right">{{ dispatchDetails.receiver.receiver_Name }}</span></li>
							<li>Adres odbiorcy: <span class="float-right">{{ dispatchDetails.receiver.receiver_Address | empty: '-'  }}</span></li>
							<li>E-mail odbiorcy: <span class="float-right">{{ dispatchDetails.receiver.receiver_Email | empty: '-'  }}</span></li>
							<li>Telefon odbiorcy: <span class="float-right">{{ dispatchDetails.receiver.receiver_PhoneNumber | empty: '-'  }}</span></li>
							<li>VAT ID odbiorcy: <span class="float-right">{{ dispatchDetails.receiver.receiver_VAT_Id | empty: '-'  }}</span></li>
						</ul>
					</div>

				</ng-template>
			</ngb-tab>

		</ngb-tabset>

		<p class="h5 mb-3 mt-1">Wydane pozycje:</p>

		<ngb-accordion activeIds="dispatch-0">

			<ngb-panel *ngFor="let dispatch of dispatchDetails.listOfDispatchOrders; let i = index" id="dispatch-{{i}}">

				<ng-template ngbPanelTitle>
					ID zlecenia: <b>{{ dispatch.orderId }}</b> |
					ID przyjęcia: <b>{{ dispatch.deliveryId }}</b> |
					ATB: <b>{{ dispatch.atb }}</b>
				</ng-template>

				<ng-template ngbPanelContent>

					<table class="table table-sm">
						<thead>
						<tr>
							<th scope="col">Nazwa</th>
							<th scope="col">Waga [kg]</th>
							<th scope="col">Liczba [szt.]</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor="let position of dispatch.listOfDispatchPositions">
							<td>{{ position.name }}</td>
							<td>{{ position.weight_Gross | empty: '-' }}</td>
							<td>{{ position.amount | empty: '-' }}</td>
						</tr>
						</tbody>
					</table>

				</ng-template>

			</ngb-panel>
		</ngb-accordion>

	</div>
</div>
