.form-default {

  &.max-width {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;

  }

  .group-inline {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;

    .form-label-group {
      margin-right: 5px;
      margin-bottom: 0;
    }

    .form-label-group > input {
      width: 100%;
    }

    .table-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;

      &.add-position {
        color: limegreen;
      }

      &.remove-position {
        color: #e74c3c;
      }

    }
  }

  .first-half-width {
    .form-label-group:first-of-type {
      width: 100%;
    }
  }

  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }

  .form-label-group > input,
  .form-label-group > select,
  .form-label-group > label,
  .input-group > label,
  .input-group > input {
    padding: .75rem .75rem;
  }

  .form-label-group > select {
    height: auto !important;
    padding-left: 8px;
  }

  .form-label-group > label,
  .input-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057 !important;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
    z-index: 3!important;
  }

  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }

  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-moz-placeholder {
    color: transparent;
  }

  .form-label-group input::placeholder {
    color: transparent;
  }

  .form-label-group input:not(:placeholder-shown),
  .form-label-group select:not(:placeholder-shown):not(.custom-select) {
    padding-top: calc(.75rem + .75rem * (2 / 3));
    padding-bottom: calc(.75rem / 3);
  }

  .form-label-group input:not(:placeholder-shown) ~ label,
  .form-label-group select:not(:placeholder-shown) ~ label {
    padding-top: calc(.75rem / 3);
    padding-bottom: calc(.75rem / 3);
    font-size: 12px;
    color: #777;
  }

  .form-label-group.date button {
    border-bottom-right-radius: .25rem !important;
    border-top-right-radius: .25rem !important;
  }

  .form-label-group.date label {
    width: auto;
  }
}