<div class="modal-header">
  <h4 class="modal-title">Użytkownik: {{ user.login }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul class="list-group">
    <li class="list-group-item">Nazwa: <span class="float-right">{{ user.name | empty: '-' }}</span></li>
    <li class="list-group-item">Adres: <span class="float-right">{{ user.address | empty: '-'}}</span></li>
    <li class="list-group-item">E-mail: <span class="float-right">{{ user.email | empty: '-'}}</span></li>
    <li class="list-group-item">Telefon: <span class="float-right">{{ user.phoneNumber | empty: '-'}}</span></li>
    <li class="list-group-item">Kod kraju: <span class="float-right">{{ user.prefixVaT_Id | empty: '-'}}</span></li>
    <li class="list-group-item">Numer VAT ID: <span class="float-right">{{ user.vaT_Id | empty: '-'}}</span></li>
  </ul>
</div>
