<app-loader [small]="true" [hidden]="!loading"></app-loader>

<div class="modalWrapper" *ngIf="!loading">

	<div class="modal-header">
		<h4 class="modal-title">{{ title }}</h4>
		<button type="button" class="close" aria-label="Close" (click)="close()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">

		<form class="form-default">

			<div class="row">

				<div class="col">

					<div class="form-label-group">
						<input type="text" id="carId" class="form-control" placeholder="Numer rejestracyjny" name="carId"
							   [(ngModel)]="dispatch.car_Id" required>
						<label for="carId">Numer rejestracyjny</label>
					</div>

					<div class="form-label-group">
						<input type="text" id="dutyDocId" class="form-control" placeholder="Numer dokumentu celnego NCTS/ATC" name="dutyDocId"
							   [(ngModel)]="dispatch.duty_Doc_Id" required>
						<label for="dutyDocId">Numer dokumentu celnego NCTS/ATC</label>
					</div>

					<div class="form-label-group" *ngIf="isEditing">
						<input type="text" id="dispatchNumber" class="form-control" placeholder="Numer wydania" name="dispatchNumber"
							   [(ngModel)]="dispatch.dispatch_Number" required>
						<label for="dispatchNumber">Numer wydania</label>
					</div>

					<div class="form-label-group date" *ngIf="isEditing">
						<div class="input-group">
							<input class="form-control" placeholder="Data utworzenia" id="creationDate"
								   name="creationDate" [(ngModel)]="dispatch.creation_Date" ngbDatepicker #d="ngbDatepicker" readonly="readonly">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
									<i class="fa fa-calendar" aria-hidden="true"></i>
								</button>
							</div>
							<label for="creationDate">Data utworzenia</label>
						</div>
					</div>

					<p class="h5 mb-3">Przewoźnik:</p>

					<div class="form-label-group">
						<input type="text" id="carrierPrefix" class="form-control" name="carrierPrefix" [(ngModel)]="dispatch.carrier.carrier_PrefixVat_Id" placeholder="Kod kraju">
						<label for="carrierPrefix">Kod kraju</label>
					</div>

					<div class="form-label-group">
						<input type="text" id="carrierVAT" class="form-control" placeholder="Numer VAT ID"
							   name="carrierVAT" [(ngModel)]="dispatch.carrier.carrier_VAT_Id" required>
						<label for="carrierVAT">Numer VAT ID</label>
					</div>

					<div class="form-label-group">
						<input type="text" id="carrierName" class="form-control" placeholder="Nazwa" name="carrierName"
							   [(ngModel)]="dispatch.carrier.carrier_Name" required>
						<label for="carrierName">Nazwa</label>
					</div>

					<div class="form-label-group">
						<input type="text" id="carrierAddress" class="form-control" placeholder="Adres" name="carrierAddress"
							   [(ngModel)]="dispatch.carrier.carrier_Address" required>
						<label for="carrierAddress">Adres</label>
					</div>

					<div class="form-label-group">
						<input type="text" id="carrierEmail" class="form-control" placeholder="E-mail"
							   name="carrierEmail" [(ngModel)]="dispatch.carrier.carrier_Email" required>
						<label for="carrierEmail">E-mail</label>
					</div>

					<div class="form-label-group">
						<input type="text" id="carrierPhoneNumber" class="form-control" placeholder="Telefon"
							   name="carrierPhoneNumber" [(ngModel)]="dispatch.carrier.carrier_PhoneNumber" required>
						<label for="carrierPhoneNumber">Telefon</label>
					</div>

					<p class="h5 mb-3">Odbiorca:</p>

					<div class="form-label-group">
						<input type="text" id="receiverPrefix" class="form-control" name="receiverPrefix" [(ngModel)]="dispatch.receiver.receiver_PrefixVat_Id" placeholder="Kod kraju">
						<label for="receiverPrefix">Kod kraju</label>
					</div>

					<div class="form-label-group">
						<input type="text" id="receiverVAT" class="form-control" placeholder="Vat ID"
							   name="receiverVAT" [(ngModel)]="dispatch.receiver.receiver_VAT_Id" required>
						<label for="receiverVAT">Numer VAT ID</label>
					</div>

					<div class="form-label-group">
						<input type="text" id="receiverName" class="form-control" placeholder="Nazwa" name="receiverName"
							   [(ngModel)]="dispatch.receiver.receiver_Name" required>
						<label for="receiverName">Nazwa</label>
					</div>

					<div class="form-label-group">
						<input type="text" id="receiverAddress" class="form-control" placeholder="Adres" name="receiverAddress"
							   [(ngModel)]="dispatch.receiver.receiver_Address" required>
						<label for="receiverAddress">Adres</label>
					</div>

					<div class="form-label-group">
						<input type="text" id="receiverEmail" class="form-control" placeholder="E-mail"
							   name="receiverEmail" [(ngModel)]="dispatch.receiver.receiver_Email" required>
						<label for="receiverEmail">E-mail</label>
					</div>

					<div class="form-label-group">
						<input type="text" id="receiverPhoneNumber" class="form-control" placeholder="Telefon"
							   name="receiverPhoneNumber" [(ngModel)]="dispatch.receiver.receiver_PhoneNumber" required>
						<label for="receiverPhoneNumber">Telefon</label>
					</div>

				</div>

				<div class="col">

					<div class="form-group form-check">
						<input type="checkbox" id="isCmr" class="form-check-input" (change)="onCmrChange()" [checked]="isCmr">
						<label class="form-check-label" for="isCmr">Czy chcesz dodać dane do CMR?</label>
					</div>

					<div *ngIf="isCmr">

						<p class="h5 mb-3">CMR (dane nadawcy):</p>

						<div class="form-label-group">
							<input type="text" id="destination" class="form-control" placeholder="Cel" name="destination"
								   [(ngModel)]="dispatch.cmrDispatch.destination" required>
							<label for="destination">Cel</label>
						</div>

						<div class="form-label-group">
							<input type="text" id="senderPrefix" class="form-control" name="senderPrefix" [(ngModel)]="dispatch.cmrDispatch.sender_PrefixVat_Id" placeholder="Kod kraju">
							<label for="senderPrefix">Kod kraju</label>
						</div>

						<div class="form-label-group">
							<input type="text" id="senderVAT" class="form-control" placeholder="Vat ID"
								   name="senderVAT" [(ngModel)]="dispatch.cmrDispatch.sender_VAT_Id" required>
							<label for="senderVAT">Numer VAT ID</label>
						</div>

						<div class="form-label-group">
							<input type="text" id="senderName" class="form-control" placeholder="Nazwa" name="senderName"
								   [(ngModel)]="dispatch.cmrDispatch.sender_Name" required>
							<label for="senderName">Nazwa</label>
						</div>

						<div class="form-label-group">
							<input type="text" id="senderAddress" class="form-control" placeholder="Adres" name="senderAddress"
								   [(ngModel)]="dispatch.cmrDispatch.sender_Address" required>
							<label for="senderAddress">Adres</label>
						</div>

						<div class="form-label-group">
							<input type="text" id="senderEmail" class="form-control" placeholder="E-mail"
								   name="senderEmail" [(ngModel)]="dispatch.cmrDispatch.sender_Email" required>
							<label for="senderEmail">E-mail</label>
						</div>

					</div>

					<p class="h5 mb-3">Wydawane pozycje:</p>

					<div class="form-label-group">
						<ng-template #rt let-r="result" let-t="term">
							Nr kontenera: {{ r.container_Id }}
						</ng-template>

						<input
								id="delivery"
								type="text"
								class="form-control"
								name="delivery"
								[ngbTypeahead]="search()"
								[resultTemplate]="rt"
								[inputFormatter]="getFormatter()"
								(selectItem)="onChooseDelivery($event)"
								placeholder="Szukaj przyjęcia..."
						/>
						<label for="delivery">Szukaj przyjęcia...</label>
					</div>

					<div class="order-positions">

						<ngb-accordion [activeIds]="activeIds">

							<ngb-panel *ngFor="let set of dispatchSets; let i = index" [id]="set.delivery.container_Id">

								<ng-template ngbPanelTitle>
									Numer kontenera: <b>{{ set.delivery.container_Id }}</b>
								</ng-template>

								<ng-template ngbPanelContent>

									<div class="group-inline first-half-width" *ngFor="let position of set.positions; let j = index">

										<div class="form-label-group">
											<input type="text" class="form-control" id="positionName-{{i}}{{j}}" name="positionName-{{i}}{{j}}"
												   placeholder="Name" [ngModel]="position.name" disabled>
											<label for="positionName-{{i}}{{j}}">Nazwa</label>
										</div>

										<div class="form-label-group">
											<input type="number" class="form-control" id="positionAmount-{{i}}{{j}}" name="positionAmount-{{i}}{{j}}"
												   placeholder="Amount" [(ngModel)]="position.amount" disabled>
											<label for="positionAmount-{{i}}{{j}}">Liczba</label>
										</div>

										<a href="#" class="table-link remove-position" (click)="removeDispatchPosition($event, position, i, j)" ngbTooltip="Remove position">
											<span class="fa-stack">
												<i class="fa fa-square fa-stack-2x"></i>
												<i class="fa fa-minus fa-stack-1x fa-inverse"></i>
											</span>
										</a>
									</div>

								</ng-template>

							</ngb-panel>

						</ngb-accordion>

					</div>

				</div>

			</div>

		</form>

	</div>
	<div class="modal-footer">
		<input type="submit" class="btn btn-primary" (click)="save()" [value]="buttonValue" [disabled]="!isValidData()">
	</div>

</div>