<app-loader [small]="true" [hidden]="!loading"></app-loader>

<div class="modalWrapper" *ngIf="!loading">

	<div class="modal-header">
		<h4 class="modal-title">{{ title }}</h4>
		<button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form class="form-default">

			<div class="form-label-group">
				<select name="transportType" id="transportType" class="form-control" autofocus [(ngModel)]="deliveryData.transport_Type" required>
					<option *ngFor="let key of transportTypes | keys" value="{{ transportTypes[key].value }}">{{ transportTypes[key].name }}</option>
				</select>
				<label for="transportType">Transport type</label>
			</div>

			<p class="h5 mb-3">Order positions:</p>

			<div class="order-positions">

				<div class="group-inline first-half-width"
					 *ngFor="let position of deliveryData.deliveryPositions; let i = index; let last = last">
					<div class="form-label-group">
						<input type="text" class="form-control" id="positionName-{{i}}" name="positionName-{{i}}"
							   placeholder="Name" [ngModel]="position.name" disabled>
						<label for="positionName-{{i}}">Name</label>
					</div>
					<div class="form-label-group">
						<input type="number" class="form-control" id="positionWeight-{{i}}" name="positionWeight-{{i}}"
							   placeholder="Weight" [(ngModel)]="position.weight_Gross">
						<label for="positionWeight-{{i}}">Weight</label>
					</div>
					<div class="form-label-group">
						<input type="number" class="form-control" id="positionAmount-{{i}}" name="positionAmount-{{i}}"
							   placeholder="Amount" [(ngModel)]="position.amount">
						<label for="positionAmount-{{i}}">Amount</label>
					</div>
				</div>

			</div>

		</form>
	</div>
	<div class="modal-footer">
		<input type="submit" class="btn btn-primary" (click)="save()" [value]="buttonValue"
			   [disabled]="!deliveryData.isValidData()">
	</div>

</div>