/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';
@import './assets/styles/simple-list.scss';
@import './assets/styles/form.scss';
@import './assets/styles/default-layout.scss';

.custom-bg-modal {
  background: rgba(#000, .5);
}

.modal {
  overflow-y: auto !important;
}

.card {
  border: 1px solid rgba(#000, .125) !important;
  border-radius: .25rem !important;
}