<app-loader [small]="true" [hidden]="!loading"></app-loader>

<div class="modalWrapper" *ngIf="!loading">

	<div class="modal-header">
		<h4 class="modal-title">Szczegóły wydań</h4>
		<button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">

		<ngb-accordion activeIds="dispatch-0">

			<ngb-panel *ngFor="let dispatch of dispatchesDetails; let i = index" id="dispatch-{{i}}">

				<ng-template ngbPanelTitle>
					<b>{{ dispatch.listOfOrderPositions.length }}</b> | Numer wydania: <b>{{ dispatch.dispatch_Number | empty: '-' }}</b> | Data: <b>{{ dispatch.creation_Date | empty: '-' }}</b>
				</ng-template>

				<ng-template ngbPanelContent>

					<ngb-tabset justify="justified">

						<ngb-tab title="Szczegóły">
							<ng-template ngbTabContent>

								<ul class="simple-list mt-2">
									<li>Numer rejestracyjny: <span class="float-right">{{ dispatch.car_Id | empty: '-'  }}</span></li>
									<li>Numer wydania: <span class="float-right">{{ dispatch.dispatch_Number | empty: '-'  }}</span></li>
									<li>Data utworzenia: <span class="float-right">{{ dispatch.creation_Date | empty: '-'  }}</span></li>
								</ul>

							</ng-template>
						</ngb-tab>
						<ngb-tab title="Przewoźnik">
							<ng-template ngbTabContent>

								<ul class="simple-list mt-2">
									<li>Nazwa: <span class="float-right">{{ dispatch.carrier.carrier_Name }}</span></li>
									<li>Adres: <span class="float-right">{{ dispatch.carrier.carrier_Address | empty: '-'  }}</span></li>
									<li>E-mail: <span class="float-right">{{ dispatch.carrier.carrier_Email | empty: '-'  }}</span></li>
									<li>VAT ID: <span class="float-right">{{ dispatch.carrier.carrier_VAT_Id | empty: '-'  }}</span></li>
								</ul>

							</ng-template>
						</ngb-tab>
						<ngb-tab title="Odbiorca">
							<ng-template ngbTabContent>

								<ul class="simple-list mt-2">
									<li>Nazwa: <span class="float-right">{{ dispatch.receiver.receiver_Name }}</span></li>
									<li>Adres: <span class="float-right">{{ dispatch.receiver.receiver_Address | empty: '-'  }}</span></li>
									<li>E-mail: <span class="float-right">{{ dispatch.receiver.receiver_Email | empty: '-'  }}</span></li>
									<li>VAT ID: <span class="float-right">{{ dispatch.receiver.receiver_VAT_Id | empty: '-'  }}</span></li>
								</ul>

							</ng-template>
						</ngb-tab>
						<ngb-tab title="Pozycje">
							<ng-template ngbTabContent>

								<table class="table table-sm mt-2">
									<thead>
										<tr>
											<th class="border-top-0" scope="col">Nazwa</th>
											<th class="border-top-0" scope="col">Liczba [szt.]<br>Waga [kg]</th>
											<th class="border-top-0" scope="col">Wydano</th>
											<th class="border-top-0" scope="col">Przed wydaniem</th>
											<th class="border-top-0" scope="col">Po wydaniu</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let position of dispatch.listOfOrderPositions">
											<td>{{ position.name }}</td>
											<td>
												{{ position.amount_Received | empty: '-' }}
												<br>
												{{ position.weight_Gross_Received | empty: '-' }}
											</td>
											<td>
												{{ position.amount_Dispatch | empty: '-' }}
												<br>
												{{ position.weight_Dispatch | empty: '-' }}
											</td>
											<td>
												{{ position.amount_Before_Dispatch | empty: '-' }}
												<br>
												{{ position.weight_Before_Dispatch | empty: '-' }}
											</td>
											<td>
												{{ position.amount_After_Dispatch | empty: '-' }}
												<br>
												{{ position.weight_After_Dispatch | empty: '-' }}
											</td>
										</tr>
									</tbody>
								</table>

							</ng-template>
						</ngb-tab>
					</ngb-tabset>

				</ng-template>
			</ngb-panel>
		</ngb-accordion>

	</div>
</div>
