<div class="container bootstrap snippet">
	<div class="row">
		<div class="col-lg-12">
			<div class="main-box">
				<button class="btn" (click)="openCreateOrderModal()">Add order</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="main-box text-right">
				Orders count: <b>{{ ordersService.count }}</b>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="main-box">
				<div class="form-default">
					<div class="form-label-group">
						<input type="text" id="needle" name="needle" [formControl]="needle" class="form-control" placeholder="Search...">
						<label for="needle">Search...</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="main-box no-header clearfix">
				<div class="main-box-body clearfix">
					<div class="table-responsive">
						<table class="table user-list">
							<thead>
							<tr>
								<th *ngIf="userService.isLevelAdmin()">User Name</th>
								<th>ATB</th>
								<th>Container Id</th>
								<th>Created</th>
								<th>Status</th>
								<th>&nbsp;</th>
							</tr>
							</thead>
							<tbody>
							<tr *ngFor="let order of ordersService.orders">
								<td *ngIf="userService.isLevelAdmin()">{{ order.name | empty: '-'}}</td>
								<td>{{ order.atb | empty: '-' }}</td>
								<td>{{ order.container_Id }}</td>
								<td>{{ order.creation_Date | empty: '-' }}</td>
								<td><b class="status-{{ order.status }}">{{ getStatusName(order.status) }}</b></td>
								<td style="width: 20%;">
									<a class="table-link" (click)="showOrderInfo(order)" ngbTooltip="Order informations">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-info fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a class="table-link" *ngIf="isDelivered(order)" (click)="showDeliveryInfo(order)" ngbTooltip="Delivery informations">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a class="table-link" *ngIf="order.isDispatched" ngbTooltip="Dispatches informations">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a class="table-link" (click)="showEditOrderModal(order)" ngbTooltip="Edit order">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a class="table-link danger" (click)="removeOrder(order)" ngbTooltip="Remove order">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>

							</tbody>
						</table>
					</div>
					<div>
						<ngb-pagination
								class="d-flex justify-content-center"
								[collectionSize]="ordersService.count"
								[(page)]="page"
								[maxSize]="5"
								(pageChange)="pageChange()"
								[pageSize]="ordersConfig.limit"
						></ngb-pagination>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>